/.vscode
/venv
/__pycache__
/.idea
/content/images/gallery
/content/images/tree
/content/images/tree.svg
/content/persons
/content/gallery
/content_generator/__pycache__
/docs
.ruff_cache
**/*.pyc
tmp/*
content/images/small_trees/*
lock
content_generator/tmp/*